{% extends "base.html" %}
{% set active_page = "f2" %}

{% block content %}
<!-- User Details Input -->
<div class="container-fluid h-100 w-100 d-flex flex-column">

  <!-- <p> {{ town }} {{ flat_type }} {{ lease_commence_year }}</p> -->

  <div class="row h-100 mx-1 mx-md-4">
    <div class="col-12">

      <!-- Load tableau JS API -->
      <script src="https://public.tableau.com/javascripts/api/viz_v1.js"></script>

      <!-- Tableau Chart here -->
      <div class='tableauPlaceholder' id='f2_chart' style='position: relative'>
        <!-- For browsers without javascript 
        <noscript><a href='#'>
        <img alt='Absolute price'
          src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ta&#47;Tableau_public_1&#47;Absoluteprice&#47;1_rss.png'
              style='border: none' /></a></noscript> -->
        <object class='tableauViz w-100 h-100' style='display:none;'>
          <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
          <param name='embed_code_version' value='3' />
          <param name='site_root' value='' />
          <param name='name' value='OutputPEndingChart1&#47;Chart1Medianresalepriceovertime_2' />
          <param name='tabs' value='yes' />
          <param name='toolbar' value='yes' />
          <param name='static_image'
            value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ou&#47;OutputPEndingChart1&#47;Chart1Medianresalepriceovertime&#47;1.png' />
          <param name='display_static_image' value='no' />
          <param name='animate_transition' value='yes' />
          <param name='display_spinner' value='yes' />
          <param name='display_overlay' value='yes' />
          <param name='display_count' value='yes' />
          <param name='language' value='en-US' />
          <!-- Filter params -->
          <param name='filter' value='Town={{town}}' />
          <param name='filter' value='Flat Group={{ flat_type }}' />
          <param name='filter' value='Lease Commence Bin={{ lease_commence_year }}' />

        </object>
      </div>

      <!-- 
      <script type='text/javascript'>
        // var divElement = document.getElementById('f2_chart'); 
        // var vizElement = divElement.getElementsByTagName('object')[0]; 
        // vizElement.style.width = '100%'; 
        // vizElement.style.height = '100%'
        // var scriptElement = document.createElement('script'); 
        // scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; 
        // vizElement.parentNode.insertBefore(scriptElement, vizElement);
      </script>
      -->

    </div>
  </div>
</div>


{% endblock %}